<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue Js - example</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="vue.js"></script>
  </head>
  <body>
    <div id="app" class="container">
      <h1>{{gender == 'm' ? 'Bienvenido' : 'Bienvenida' }}, {{ name }}</h1>
      <!-- Directivas v-if, v-show, v-else -->
      <span v-if="name.length > 5"> Tu nombre al reves es {{ name.split('').reverse().join('') }}</span>
      <input type="text" v-model="name" class="form-control">
      <input type="radio" value="m" v-model="gender"/>Masculino
      <input type="radio" value="f" v-model="gender"/>Femenino
      <hr>
      <pre>{{ $data }}</pre>
    </div>
    <script type="text/javascript">
      new Vue({
        el: "#app",
        data: {
          name: "Alberto",
          gender: "f"
        }
      })
    </script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
